.container {
    width: 85%;
    margin: 0 auto;
}

.home-collections {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

.card {
    width: 19%;
    min-width: 200px;
    flex-grow: 1;
    background-color: #00fff0;
}

.home-title {
    margin: 15px 0;
}



