.home-title {
    margin: 15px 0;
}

.home-collections {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
}

.home-collection {
    width: 18%;
    min-width: 200px;
    flex-grow: 1;
}
