.modalInput {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 25px;
}

.inputTitle {
    margin-right: 10px;
}

.showModalBtn {
    margin: 15px 0;
}

.ant-select {
    width: 100%;
}


