.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    padding-top: 30px;
    margin-right: 650px;
    color: #fff;
    font-size: 36px;
    
}
.menu {
    display: flex;
justify-content: space-between;
align-items: center;
}
/* .logoutBtn {
    display: flex;

} */

.logo {
  
    width: 54px;
    height: 56px;
    background: url(../../public/logotype.png) no-repeat center center;
  }
  

  
  .site-layout-background {
    background: #fff;
  }

  