.header {
    /* height: 70px; */
    padding: 0 15%;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #171717;
}

.logo {
    width: 140px;
    height: 35px;
    background: url(../../public/cabinet-logo.svg) no-repeat center center;
    background-size: contain;
}

.username {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #00fff0;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}

.title {
    padding-top: 30px;
    margin-right: 650px;
    color: #fff;
    font-size: 36px;
}

.headList {
display: flex;
justify-content: space-between;
border: 1px solid black;
}

.listName {
 font-weight: 600;
}

.lol {
    width: 50;
    height: 50;
}

.menu-wrapp {
    display: flex;
    gap: 20px;
}
